# also install torch as instructed in rust_circuit_public
# sentencepiece fails but whatever

click
gym==0.23.1
fancy_einsum
einops
requests
transformers
pytest
click
joblib
tqdm
ipykernel
notebook
ipywidgets
jupyter
flask
matplotlib
numpy-stl
mediapy
pandas
scikit-learn
black
wandb
sentence-transformers
ftfy
tensorboard
pygame
plotly
sympy
accelerate
pre-commit
diffusers
cmapy
networkx
get-mnist
graphviz